<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>アプリケーション</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'item_list', media: 'all' %>
</head>
<body>
  <h2>My Closet</h2>
  <%= link_to "新規アイテム登録ページへ", new_closet_path, class: 'button-link' %>
  
  <div class="closet-container">
    <% @closets.each do |t| %>
      <div class="closet">
        <p><%= t.genre %></p>
        <p><%= t.created_at %></p>

        <%= link_to closet_path(t.id) do %>
          <%= image_tag(t.image.url, alt: t.tops, size: "300x400") %>
        <% end %>
        
        <%= link_to "編集する", edit_closet_path(t.id), class: 'button-link' %>
        <%= button_to "削除する", closet_path(t.id), method: :delete %>
      </div>
    <% end %>
  </div>
  
  <%= link_to "コーデ一覧へ", tweets_path, class: 'button-link' %>

</body>
</html>