<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Code一覧</title>
  
  <%= stylesheet_link_tag 'tweet_list', media: 'all' %>

  <%= csrf_meta_tags %>
</head>
<body>
    <h2>Code list</h2>
    <%= link_to "新規投稿ページへ", new_tweet_path, class: 'button-link' %>
  <main>
    <div class="tweets-container">
      <% @tweets.each do |t| %>
        <div class="tweet">
          <%= link_to t.user.name, user_path(t.user.id), class: 'user-name' %>
          <p class="post-date">投稿日時: <%= t.created_at %></p>

          <%= link_to tweet_path(t.id) do %>
            <%= image_tag(t.image.url, alt: t.body.present? ? t.body : "No image description", class: "tweet-image") %>
          <% end %>
          
          <div class="tweet-actions">
            <%= link_to "詳細", tweet_path(t.id), class: 'action-link' %>
            <%= link_to "編集", edit_tweet_path(t.id), class: 'action-link' %>
            <%= link_to "削除", tweet_path(t.id), method: :delete, data: { confirm: 'Are you sure?' }, class: 'action-link' %>
          </div>
        </div>
      <% end %>
    </div>
  </main>

</body>
</html>